<h1>Witaj w Księdze Gości</h1>

<form action="/messages" method="post">
  <div class="form-group">
    <label for="author">Autor</label>
    <input name="author" type="text" class="form-control" placeholder="Kim jesteś?" id="author">
  </div>
  <div class="form-group">
    <label for="content">Treść</label>
    <textarea name="content" class="form-control" rows="5" id="content"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Krzyknij!</button>
</form>

<% posts.each do |post| %>
  <p><strong><%= post[:author] %></strong>: <%= post[:content] %>
<% end %>
